.navbar {
  padding: 1rem 2rem;
  background-color: #343a40 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  font-weight: bold;
}

.logo {
  height: 40px;
}